:root {
  --algaecal-green: #013B30;
}

@font-face {
  font-family: Quicksand;
  src: url("../../assets/fonts/quicksand-regular.ttf");
}

html {
  font-family:
    "Quicksand",
    "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}
